# Root-level node_modules and lock file
/node_modules/
package-lock.json

# Client and server node_modules
/client/node_modules/
/server/node_modules/

#cache directories
server/cache/
client/public/images/processed/

#uploaded files
/server/uploads/

# Build outputs
/client/dist/
/server/dist/

# Logs
*.log
npm-debug.log*

# Environment variables
*.env
.env.*

# OS & IDE junk
.DS_Store
.vscode/
.idea/
